body {
    background-image: url("../../images/bgimg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo-link {
    display: inline-block;
   margin: 0;
}
.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 830px;
    height: 96px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}
.navbar__item {
    display: inline-block;
    margin-left: 50px;
}
.navbar__span{
    color: #FFF;
    font-family: Barlow, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
    
}
.navbar__link {
    text-transform: uppercase;
    color: #FFF;
    font-family: Barlow, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}
// .hero-section {
// }
// .hero {
// }
// .hero__wrapper {
// }
// .hero__content {
// }
// .hero__paragraph {
// }
// .hero__text {
// }
// .hero__explore {
// }
// .explore {
// }
// .explore__text {
// }